<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destination_category.name %>
</p>

<%= link_to 'Edit', edit_destination_category_path(@destination_category) %> |
<%= link_to 'Back', destination_categories_path %>
